@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #fe434c;
  --bg-color: #fe434c;
  --footer-text: #273252;
}

* {
  font-family: "Montserrat", serif;
  font-family: "Inter", serif;
  font-family: "Outfit", serif;
}

.Montserrat {
  font-family: "Montserrat", serif;
}
.Inter {
  font-family: "Inter", serif;
}
.Outfit {
  font-family: "Outfit", serif;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font20 {
  font-size: 20px;
}
.font32 {
  font-size: 32px;
}
.font48 {
  font-size: 48px;
}
.margintop {
  margin-top: 60rem;
}
.margintop56 {
  margin-top: 56rem;
}

.bgImage {
  background-image: url("../Image/contactbg.svg");
}
